<div align="left">

<ul class="list-group">
  <li class="list-group-item list-group-item-info"><b>Langages et framworks</b></li>
  <li class="list-group-item">J2EE (Java, Spring, Hibernate)</li>
  <li class="list-group-item">Framework Javascript (NodeJS, AngularJS, ExpressJS)</li>
  <li class="list-group-item">WebServices</li>
  <br />
  <li class="list-group-item list-group-item-info"><b>Base de données</b></li>
  <li class="list-group-item">SQL</li>
  <li class="list-group-item">MongoDB</li>
  <br />
  <li class="list-group-item list-group-item-info"><b>Systèmes d'exploitation</b></li>
  <li class="list-group-item">Linux (Red Hat, Solaris, Debian)</li>
  <br />
  <li class="list-group-item list-group-item-info"><b>Outils</b></li>
  <li class="list-group-item">Eclipse</li>
  <li class="list-group-item">Talend</li>
  <br />
  <li class="list-group-item list-group-item-info"><b>Gestion de configuration</b></li>
  <li class="list-group-item">SVN</li>
  <li class="list-group-item">GIT</li>
  <br />
  <li class="list-group-item list-group-item-info"><b>Modélisation</b></li>
  <li class="list-group-item">UML</li>
  <li class="list-group-item">SCRUMM</li>
</ul>
