<h3>Responsable Technique - Atos depuis 2008</h3>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a showtab="" href="#experiences">EXPERIENCE</a></li>
  <li role="presentation"><a showtab="" href="#formations">FORMATIONS</a></li>
  <li role="presentation"><a showtab="" href="#formationsContinues">FORMATIONS CONTINUES</a></li>
  <li role="presentation"><a showtab="" href="#competences">COMPETENCES</a></li>
</ul>
<br />

<div class="tab-content">

	<div id="experiences" class="tab-pane fade in active jumbotron" ng-include="'views/experiences.html'">

	</div>

	<div id="formations" class="tab-pane fade jumbotron" ng-include="'views/formations.html'">
    	formations
	</div>

	<div id="formationsContinues" class="tab-pane fade jumbotron" ng-include="'views/formationscontinues.html'">
    	formationsContinues
	</div>

	<div id="competences" class="tab-pane fade jumbotron" ng-include="'views/competences.html'">
    	competences
	</div>

</div>