<div class="container" align="left">
	<div class="row">
		<div class="col-md-4 text-center">
			<h4>Mai 2015 - Présent (ATOS)</h4>
			Client : SNCF<br />
			Projet : MISTRAL NG
		</div>
    	<div class="col-md-8 text-left vdivider">
<p>Concepteur</p>
MISTRAL NG assure l’interface entre les systèmes de planification et de régulation des circulations ferroviaires au plan national et régional d’une part, et les installations de signalisation d’autre part. <br />
Mon rôle a été de rédiger les documents de conception spécifique et détaillée et de présenter une maquette IHM et de la conception au client. <br />
 <br />
Utilisation de l'outil de modélisation SysML Modélio. <br />
Réalisation d'une maquette IHM en utilisant Eclipse RCP.
    	</div>
	</div>
<br /><br />
	<div class="row">
		<div class="col-md-4 text-center">
			<h4>Sptembre 2011 - Mai 2015 (ATOS)</h4>
			Client : Airbus<br />
			Projet : GPM
		</div>
    	<div class="col-md-8 text-left vdivider">
<p>Responsable Technique</p>
gPM est un outil J2EE générique de gestion de processus métier. Il peut être adapté à de nombreux type de projets.<br />
Mes rôles au sein du projet ont été de superviser l'équipe gPM Noyau, de définir la solution technique, de superviser le processus de livraison et d'animer des réunions avec le client.<br />
Le développement du projet a fait usage de la pratique de la méthode Agile.
    	</div>
	</div>

<br /><br />
	<div class="row">
		<div class="col-md-4 text-center">
			<h4>Février 2013 - Août 2015 (ATOS)</h4>
			Client : CNES<br />
			Projet : Idéfix
		</div>
    	<div class="col-md-8 text-left vdivider">
<p>Développeur / Concepteur</p>
Idéfix est un projet visant à récupérer les Télémesures issues des satellites afin de les traiter, et de les sauvegarder dans des centres de serveurs. <br />
Mon rôle a été de développer l'application en utilisant Java couplé avec Topcased.
    	</div>
	</div>

<br /><br />
	<div class="row">
		<div class="col-md-4 text-center">
			<h4>Août 2009 - Septembre 2011 (ATOS)</h4>
			Client : Airbus<br />
			Projet : DLW
		</div>
    	<div class="col-md-8 text-left vdivider">
<p>Développeur / Concepteur</p>
DLW est un outil qui permet le téléchargement des LRU signés des avions A330, A340 et A350 en FAL. <br />
J'ai assuré la conception et le développement de l'application en utilisant Java SWT. Des tests en FAL on été opérés.
    	</div>
	</div>

<br /><br />
	<div class="row">
		<div class="col-md-4 text-center">
			<h4>Avris 2008 - Août 2009 (ATOS)</h4>
			Client : Secteur public Agence Eaux<br />
			Projet : AESN
		</div>
    	<div class="col-md-8 text-left vdivider">
<p>Développeur</p>
Cette application permet la gestion des redevances et primes liées aux ressources en eaux. 
Ce projet dont mon stage de fin d'étude est issu, m'a permis de me familiariser avec J2EE et l'outils de modélisation UML Objecteering. <br />
Mon rôle à été de développer et tester cette application.
    	</div>
	</div>
