<div align="left">
<h4>Ingénieur en conception</h4>
ATOS pour le client SNCF - Toulouse (31)-mai 2015 - actuellement<br /><br />
Rédaction des documents de conception spécifique et détaillée. <br />
Présentation d'une maquette IHM et de la conception au client. <br />
 <br />
Utilisation de l'outil de modélisation SysML. <br />
Réalisation d'une maquette IHM en utilisant Eclipse RCP.
<br /><br />

<h4>Responsable Technique</h4>
ATOS pour le client Airbus - Toulouse (31)-septembre 2011 - mai 2015<br /><br />
gPM est un outil générique de gestion de processus métier. Il peut être adapté à de nombreux type de projets.<br />
Mes rôles au sein du projet on été de superviser l'équipe gPM Noyau, de définir la solution technique, de superviser le processus de livraison. gPM est un outil développé avec J2EE et WebServices.
<br /><br />

<h4>Développeur informatique</h4>
ATOS pour le client CNES - Toulouse (31)-février 2013 - août 2013<br /><br />
Idéfix est un projet visant à récupérer les Télémesures issues des satellites afin de les traiter, et de les sauvegarder dans des centres de serveurs. <br />
Mon rôle a été de développer l'application en utilisant Java couplé avec Topcased.
<br /><br />

<h4>Développeur / Concepteur</h4>
Atos pour le client DLW - Toulouse (31)-août 2009 - septembre 2011<br /><br />
DLW est un outil qui permet le téléchargement des LRU signés des avions A330, A340 et A350 en FAL. <br />
J'ai assuré la conception et le développement de l'application en utilisant Java SWT. Des tests en FAL on été opérés.
<br /><br />

<h4>Développeur informatique</h4>
ATOS pour le client AESN - Bordeaux (33)-avril 2008 - août 2009<br /><br />
Cette application permet la gestion des redevances et primes liées aux ressources en eaux.. 
Ce projet dont mon stage de fin d'étude est issu, m'a permi de me familiariser avec J2EE et l'outils de modélisation UML Objecteering. <br />
Mon rôle à été de développé et tester cette application.
</div>