<div class="container" align="left">

<h4>Master 2 Génie logiciel en Informatique</h4>
<a href="http://www.u-bordeaux.fr/formation/PRMAIN3_131/master-recherche-professionnel-mention-informatique-specialite-genie-logiciel" target="_blank">Université Sciences et Technologies Bordeaux 1 - Bordeaux (33)</a><br />
2007 - 2008
<br /><br />

<h4>Master 1 Informatique en Informatique</h4>
Université Sciences et Technologies Bordeaux 1 - Bordeaux (33)<br />
2006 - 2007
<br /><br />

<h4>BAS S spécialité SVT en Sciences</h4>
Lycée Max Linder - Libourne (33)
2002 - 2003
</div>