<div class="jumbotron">
  <h1>Responsable Technique</h1>
  <p class="lead">
    <img src="images/cv.jpg" alt="I'm Yeoman" style="width:100%;">
  </p>
<p align="left">
Ces 8 années passées chez Atos m’ont permis d’approfondir mes connaissances tant sur la plan technique que humain. J’ai su m’adapter rapidement aux différents postes qui m’ont été proposés. J’ai ainsi soumis mes propositions technique pour alimenter un document de conception pour le client SNCF.<br />
De part mon expertise en J2EE, j’ai contribué à l’élaboration d’un logiciel complexe pour le compte de Airbus utilisés par des milliers d’utilisateurs.<br />
Je suis curieux par nature, apprendre les nouvelles technologies (Angular, NodeJS, …) a été un point fort lors de mon parcours professionnel.
<br /><br />
Etant également passionné d’électronique, j’ai su mettre a profit mes connaissance en informatique pour élaborer des circuits imprimés en utilisant le micro contrôleur Arduino. Cette passion m’a aussi conduit à fabriquer des objets connectés en créant une API restful.
  </p>
</div>
