<div class="jumbotron">
<div class="container">
<h1>Cyril Marchive</h1>
<p class="lead">
    <img src="images/cv.jpg" style="width:60%;border-radius: 30px;">
</p>
<p align="left">
&nbsp;&nbsp;&nbsp;&nbsp;L'informatique est un domaine qui m'a toujours passionné tant sur le plan personnel que professionnel. Mes premiers pas dans la programmation ont été faits en Basic sur un Amstrad CPC. Rapidement, j'ai appris le langage C et Java et construit mes premières applications lourdes.<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;Je me suis naturellement orienté vers des études en informatiques aboutissant à un Master 2 Informatiques en Génie logiciel. A l'issue de ce cursus, j'ai effectué mon stage chez Atos pour un projet en J2EE utilisant le principe MVC.<br />
Ces huit années passées chez Atos m’ont permis d’approfondir mes connaissances tant sur la plan technique que humain. J’ai su m’adapter rapidement aux différents postes qui m’ont été proposés.
<br /><br />
&nbsp;&nbsp;&nbsp;&nbsp;Etant également passionné d’électronique, j’ai su mettre a profit mes connaissance en informatique pour élaborer des circuits imprimés en utilisant le micro contrôleur Arduino. Cette passion m’a aussi conduit à fabriquer des objets connectés en créant une API restful.
</p>
</div>
</div>


